@import "tailwindcss";

@theme {
  --color-floral: #FBFBF2;
  --color-coffee: #100007;
  --color-dim: #717568;
  --color-brandy: #8F250C;
  --color-molten: #691E06;
}

body {
  background-color: var(--color-floral);
  color: var(--color-coffee);
  scroll-behavior: smooth;
}
